#menu{
    text-align: center;
    width: 1000px; 
    padding: 5px;
    margin: 20px 40px   ;
    background-color: beige;
    border: solid 1px #aaaaaa;
}
#menu li{
    display: inline;
    font-size: 16px;
    padding-right: 15px;
}

#menu li a:link{
    color: #2d942d;
    text-decoration: none;
    
}
#menu li a:visited  {
    color:#2d942d;
    text-decoration: none;
    
}
#menu li a:hover{
    color: #469ef1;
}
#menu li a:active
{
    color: blue;
}